<div>
    Hello World
    {% edge "liquid" %}
        here's the eleventy data:
        {{ eleventy | json }}
        {% abtesting "with input" %}
            Content inside a shortcode
        {% endabtesting %}
    {% endedge %}
</div>
